.splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .video {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  